<!DOCTYPE html>
<html>
<head>
    <title>Admin LikeMC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="/static/style.css" rel="stylesheet" media="screen">-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container">
    <h2>This is part of my base template</h2>
    <br>
    {% block content %}{% endblock %}
    <br>
    <h2>This is part of my base template</h2>
</div>
</body>
</html>
